<footer class="site-footer">
	Emotiq is made with love at <a href="http://16f.dubhacks.co/">DubHacks 2016</a> in Seattle by the following fine fellows.
	
	<div class="team">
		<a href="https://github.com/breadchris/">
			<img class="avatar" src="https://scontent-sjc2-1.xx.fbcdn.net/t31.0-8/13652901_1355414444472917_1860213025523556130_o.jpg">
			<div class="name">Chris Topher</div>
		</a>
		<a href="http://www.gusnaughton.com/">
			<img class="avatar" src="https://avatars2.githubusercontent.com/u/7005799?v=3&s=466">
			<div class="name">Gus Naughton</div>
		</a>
		<a href="http://cjosephpollock.com/">
			<img class="avatar" src="https://cjosephpollock.com/img/Headshot.jpg">
			<div class="name">Joe Pollock</div>
		</a>
		<a href="http://logangirv.in/">
			<img class="avatar" src="https://scontent-sjc2-1.xx.fbcdn.net/v/t1.0-9/13912420_756816694458038_5552570817278676217_n.jpg?oh=4b5b0ef8d9cb358e26065b2874cad181&oe=5865D91A">
			<div class="name">Logan Girvin</div>
		</a>
		<a href="https://scotthsmith.com/">
			<img class="avatar" src="https://avatars1.githubusercontent.com/u/634538?v=3&s=466">
			<div class="name">Scott Smith</div>
		</a>
	</div>
</footer>