<!DOCTYPE html>
<html lang="en">

<head>
<title>Emotiq</title>

<meta name="Description" content="See how news articles correlate with stock prices.">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icons -->
<link rel="icon" href="/static/images/mark.png">
<link rel="mask-icon" href="/static/images/mark.svg" color="#039076">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/styles/build/app.css">

</head>

<body>
	
<header class="site-header">
	<nav>
		<a class="home-link" href="/">
			<svg class="site-logo" alt="emotiq" viewbox="0 0 181 52">
				<use xlink:href="#logotype"> </svg>
		</a>
<!-- 		<a class="list-link" href="/list">List</a> -->
		<button class="search-toggle">
        	<span class="sr-text">Open Search</span>
        	<svg class="search-toggle-icon" viewbox="0 0 53 26">
				<use xlink:href="#arr">
			</svg>
        </button>
		<form class="search-form" action="/" method="POST">
	        <input type="search" placeholder="msft" type="text" title="Search stocks or topics" name="company">
	        <button type="submit">
	        	<span class="sr-text">Search</span>
	        	<svg class="search-icon" alt="search" viewbox="0 0 30 30">
					<use xlink:href="#search">
				</svg>
	        </button>
	    </form>
		
</header>

<main>

<div class="page-header">
    {% if topic_name %}
	    <h1>{{topic_name}}</h1>
    {% endif %}
	{% if symbol %}
		<div class="stock-symbol">${{symbol}}</div>
    {% endif %}
</div>

<div class="mainflow">

	{% if sentiment %}
	<div class="stats">
		<div class="emotiq">
			Our Emotiq Score:
			<div class="score">{{ sentiment|round(2, 'common') }}</div>
		</div>
		{% if price %}
		<div class="stock">
			Current Stock Price:
			<div class="score">${{price}}<span class="currency">USD</span></div>
		</div>
		{% endif %}
	</div>
	{% endif %}

	<div class="wideflow">

    <div id="sentiment_chart" class="chart" style="height: 400px; min-width: 310px">
	    
    </div>

	{% if symbol %}
	<div id="stock_chart" class="chart" style="height: 400px; min-width: 310px">
		
	</div>
    {% endif %}
    
		
		<div class="articles">
			
			{% for article in imaged_articles %}
		
			<div class="article">
				<a href="{{ article[1] }}">
					<img class="article-image" src="{{ article[2] }}">
				</a>
				<div class="article-text">
					<a href="{{ article[1] }}">
						<h3 class="article-title">{{ article[0] }}</h3>
					</a>
					<p class="article-excerpt"></p>
				</div>
			</div>
			{% endfor %}
			
		</div>
	
	</div>

</div>

</main>

{% include 'partials/footer.html' %}

<script async type="text/javascript" src="/static/scripts/build/app.js"></script>
<script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>

<script> $(function () {
    $.getJSON('/sentiment/graph/{{ company }}?startdate={{ startdate }}&enddate={{ enddate }}', function (data) {
        // Create the chart
        $('#sentiment_chart').highcharts('StockChart', {
	
	            rangeSelector: {
	                selected: 1
	            },
	
	            title: {
	                text: '{{topic_name}} Sentiment'
	            },
	
	            series: [{
	                name: '{{topic_name}}',
	                data: data,
	                tooltip: {
	                    valueDecimals: 2
	                }
	            }]
	        });
	    });
	
	});
</script>

{% if symbol %}
<script>
    $(function () {
    $.getJSON('/stock/{{ company }}?startdate={{ startdate }}&enddate={{ enddate }}', function (data) {
        // Create the chart
        $('#stock_chart').highcharts('StockChart', {
	
	            rangeSelector: {
	                selected: 1
	            },
	
	            title: {
	                text: '{{topic_name}} Stock Price'
	            },
	
	            series: [{
	                name: '{{topic_name}}',
	                data: data,
	                tooltip: {
	                    valueDecimals: 2
	                }
	            }]
	        });
	    });
	
	});
</script>
{% endif %}
	
</body>
</html>
