<!DOCTYPE html>
<html lang="en">

<head>
<title>Emotiq</title>

<meta name="Description" content="See how news articles correlate with stock prices.">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icons -->
<link rel="icon" href="/images/icon.png">
<link rel="mask-icon" href="/images/icon.svg" color="#444444">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/styles/build/app.css">

</head>

<body>
	
<header class="site-header">
	<nav>
		<a class="home-link" href="/list">
			<svg class="site-logo" alt="emotiq" viewbox="0 0 181 52">
				<use xlink:href="#logotype">
			</svg>
		</a>
		<a class="list-link" href="/list">List</a>
</header>

<main>

<div class="page-header">
	<h1>Apple</h1>
	<div class="stock-symbol">{{company}}</div>
</div>

<div class="mainflow">

	<div class="stats">
		<div class="emotiq">
			Our Emotiq Score:
			<div class="score">69</div>
		</div>
		<div class="stock">
			Current Stock Price:
			<div class="score">$117.63</div>
		</div>
	</div>

	<div class="wideflow">

		<div class="chart">
			
		</div>
		
		<div class="chart">
			
		</div>
		
		<div class="articles">
			
			{% for article in imaged_articles %}
		
			<div class="article">
				<a href="{{ article[1] }}">
					<img class="article-image" src="{{ article[2] }}">
				</a>
				<div class="article-text">
					<a href="{{ article[1] }}">
						<h3 class="article-title">{{ article[0] }}</h3>
					</a>
					<p class="article-excerpt"></p>
				</div>
			</div>
			
			{% endfor %}
			
		</div>
	
	</div>

</div>

</main>

<footer class="site-footer">
	Emotiq is made with love at <a href="http://16f.dubhacks.co/">DubHacks 2016</a> in Seattle by the following fine fellows.<br>
	<a href="https://github.com/breadchris/">Chris Topher</a><br>
	<a href="http://www.gusnaughton.com/">Gus Naughton</a><br>
	<a href="http://cjosephpollock.com/">Joe Pollock</a><br>
	<a href="http://logangirv.in/">Logan Girvin</a><br>
	<a href="https://scotthsmith.com/">Scott Smith</a>
</footer>

<script async type="text/javascript" src="/static/scripts/build/app.js"></script>
	
</body>
</html>