<!DOCTYPE html>
<html lang="en">

<head>
<title>Emotiq</title>

<meta name="Description" content="See how news articles correlate with stock prices.">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icons -->
<link rel="icon" href="/images/icon.png">
<link rel="mask-icon" href="/images/icon.svg" color="#444444">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/static/styles/build/app.css">

</head>

<body>
	
<header class="site-header">
	<nav>
		<a class="home-link" href="/list">
			<svg class="site-logo" alt="emotiq" viewbox="0 0 181 52">
				<use xlink:href="#logotype">
			</svg>
		</a>
		<a class="list-link" href="/list">List</a>
<!--
		<label>
			<span class="sr-text">Search for:</span>
			<input type="search" placeholder="Search..." name="s" title="Search for:">
		</label>
		<button type="submit"><span class="sr-text">Search</span></button>
-->
</header>

<main>
<h1>Apple</h1>
<div class="stock-symbol">$AAPL</div>

<div class="chart">
	
</div>

<div class="articles">

	<div class="article">
		<a href="#">
			<img class="article-image" src="https://hd.unsplash.com/reserve/Hxev8VTsTuOJ27thHQdK_DSC_0068.JPG">
		</a>
		<div class="article-text">
			<a href="#">
				<h3 class="article-title">Title here</h3>
			</a>
			<p class="article-excerpt">Inception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.</p>
		</div>
	</div>
	
	<div class="article">
		<a href="#">
			<img class="article-image" src="https://images.unsplash.com/photo-1475754857078-5c15de17844c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=9818e5c604e47c1facdf1e28c7d15f02">
		</a>
		<div class="article-text">
			<a href="#">
				<h3 class="article-title">Title here</h3>
			</a>
			<p class="article-excerpt">Inception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.</p>
		</div>
	</div>
	
	<div class="article">
		<a href="#">
			<img class="article-image" src="https://hd.unsplash.com/reserve/Hxev8VTsTuOJ27thHQdK_DSC_0068.JPG">
		</a>
		<div class="article-text">
			<a href="#">
				<h3 class="article-title">Title here</h3>
			</a>
			<p class="article-excerpt">Inception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.</p>
		</div>
	</div>
	
	<div class="article">
		<a href="#">
			<img class="article-image" src="https://images.unsplash.com/photo-1475754857078-5c15de17844c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=9818e5c604e47c1facdf1e28c7d15f02">
		</a>
		<div class="article-text">
			<a href="#">
				<h3 class="article-title">Title here</h3>
			</a>
			<p class="article-excerpt">Inception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.</p>
		</div>
	</div>
	
	<div class="article">
		<a href="#">
			<img class="article-image" src="https://hd.unsplash.com/reserve/Hxev8VTsTuOJ27thHQdK_DSC_0068.JPG">
		</a>
		<div class="article-text">
			<a href="#">
				<h3 class="article-title">Title here</h3>
			</a>
			<p class="article-excerpt">Inception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.</p>
		</div>
	</div>
	
</div>

Contrast is the difference in luminance or color that makes an object (or its representation in an image or display) distinguishable. In visual perception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.
<br><br>

“If one says ‘Red’ (the name of the color) and there are 50 people listening, it can be expected that there will be 50 reds in their minds. And one can be sure that all these reds will be very different.”
– Josef Albers
<br><br>

Contrast is the difference in luminance or color that makes an object (or its representation in an image or display) distinguishable. In visual perception of the real world, contrast is determined by the difference in the color and brightness of the object and other objects within the same field of view.
<br><br>

“If one says ‘Red’ (the name of the color) and there are 50 people listening, it can be expected that there will be 50 reds in their minds. And one can be sure that all these reds will be very different.”
– Josef Albers

</main>

<script async type="text/javascript" src="/static/scripts/build/app.js"></script>
	
</body>
</html>