.article {
	display: inline-block;
	box-shadow: 0px 3px 20px rgba(69, 69, 69, 0.2);
	border-radius: 0.5rem;
	overflow: hidden;
	margin-bottom: 2.5rem;
	
	@media (min-width: 35rem) {
		max-width: calc(50% - 1.25rem);
		
		&:nth-child(odd) {
			margin-right: 2.1rem;
		}
	}
	
	a {
		text-decoration: none;
	}
}

.article-image {
	width: 100%;
	height: auto;
	max-height: 8rem;
	object-fit: cover;
}

.article-text {
	padding: 0.375rem 0.875rem 1rem;
}

.article-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--off-black);
    margin: 0;
}

.article-excerpt {
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	color: var(--grey);
	font-size: 0.6em;
	line-height: 1.25;
	margin: 0;
}