body {
	margin: 0;
	font-family: var(--font-fam);
}

main {
	position: relative;
	top: 5rem;
	max-width: 45rem;
	font-size: 1.5rem;
	padding: 0 1.25rem;
	margin: 0 auto 5rem;
	
	h1 {
		margin: 0;
	}
	
	@media (min-width: 65em) {
		max-width: 65rem;
	}
}

.page-header {
	max-width: 45rem;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.25rem;
	
	@media (min-width: 65em) {
		padding: 0 1.25rem;
	}
}

.stock-symbol {
	color: var(--grey);
}

.chart {
	height: 16rem;
	width: 100%;
	background-color: var(--off-white);
	box-shadow: 0px 3px 20px rgba(69, 69, 69, 0.2);
	border-radius: var(--border-rad);
	margin-bottom: 2.5rem;
}