.site-header {
	width: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--medium-green);
	box-shadow: 0px 3px 20px rgba(69, 69, 69, 0.15);
	
	nav {
		display: flex;
		max-width: 45rem;
		justify-content: space-between;
		background-color: var(--medium-green);
		height: 3.5rem;
		padding: 0 1.25rem;
		margin: 0 auto;
	}
}

.home-link {
	align-self: center;
	text-decoration: none;
	
	svg {
		height: 2rem;
		fill: var(--off-white); /* SVG sprite must not have a fill. */
	}
}

.list-link {
	align-self: center;
	font-size: 1.65rem;
	font-weight: 700;
	color: var(--off-white);
	text-decoration: none;
}

.search-toggle {
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	background: none;
	cursor: pointer;
	border-radius: 0;
	border: none;
	outline: none;
	
	&.flipped {
		transform: rotateX(180deg);
	}
			
	svg {
		width: 1.5rem;
		height: 1.5rem;
		fill: var(--off-white);
		
		&:hover {
			opacity: 0.8;
		}
	}
}

.search-form {
	transition: top 0.3s ease-out, max-height 0.3s ease-out;
	display: flex;
	justify-content: space-between;
    z-index: -1;
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
	background-color: rgba(255, 255, 255, 0.85);
	max-height: 0;
	border-bottom: 3px solid var(--medium-green);
	
	@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
		background-color: rgba(255, 255, 255, 0.55);
		backdrop-filter: blur(20px);
	}
	
	&.open {
		top: 3.5rem;
		max-height: 3.5rem;
		box-shadow: 0px 7px 7px rgba(69, 69, 69, 0.15);
	}
	
	input[type="search"] {
		height: 100%;
		width: calc(100% - 4rem);
		border-radius: 0;
		font-size: 1.5rem;
		padding: 0 1.25rem;
		background-color: transparent;
		color: var(--off-black);
		border: none;
		margin: 0;
		outline: none;
		
		&::placeholder {
			color: var(--grey);
		}
	}
	
	button {
		transition: background-color 0.3s ease;
		background: none;
		background-color: var(--light-green);
		cursor: pointer;
		border-radius: 0;
		border: none;
		height: 100%;
		width: 4rem;
		
		&:hover {
			background-color: #F1F1F1;
		}
	}
	
	.search-icon {
		height: 1.5rem;
		width: 1.5rem;
		fill: var(--medium-green);
	}
}

@media (min-width: 35em) {
	.search-toggle {
		display: none;
	}
	
	.search-form {
		z-index: auto;
		position: static;
		border: none;
		background-color: rgba(255, 255, 255, 0.95);
		box-shadow: none;
		max-width: 20rem;
		max-height: none;
		
		&.open {
			box-shadow: none;
		}
	}
}